<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
	<div class="page-top">
		<div class="page-content">
			<h2>任务计划列表</h2>
		</div>
	</div>
	<div class="main">
		<h3 class="big-title">添加任务:</h3>
		<input type="text" v-model="todo" v-on:keyup.13="addTodos" placeholder="+回车可以添加任务" class="task-input" />
		<ul class="task-count" v-show="list.length">
			<li>{{noCheckLength}}个任务未完成</li>
			<li class="action">
				<a class="active" href="#all">所有任务</a>
				<a href="#unfinshed">未完成的任务</a>
				<a href="#finished">完成的任务</a>
			</li>
		</ul>
		<h3 class="big-title">任务列表</h3>
		<div class="tasks">
			<ul class="todo-list">
				<li class="todo" v-bind:class="{completed:item.isChecked}" v-for="item in list">
					<input class="toggle" type="checkbox" v-model="item.isChecked"/>
					<label @click="" >{{item.name}}</label>
					<button class="destroy" @click="deleteTodo(item)"></button>
				</li>
			</ul>
		</div>
	</div>
	<script src='js/app.js'>
		
	</script>
	
</body>
</html>